* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 6.5rem;
}

.navbar {
  background-image: linear-gradient(to left, #19ad8e, #99cf8d);
}

main {
  text-align: center;
}

footer {
  text-align: center;
  background-color: #99cf8d;
  background-image: url("../Imagenes/hojas.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.style-list {
  border-style: none;
  text-decoration: none;
  list-style: none;
}

.container-form {
  text-align: center;
  background-color: #99cf8d;
  background-image: url("../Imagenes/hojas.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-edit {
  background-image: linear-gradient(
      rgba(107, 107, 107, 0.7),
      rgba(241, 241, 241, 0.7)
    ),
    url("../Imagenes/fondo-ppal2.png");
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s;
}

.img-edit:hover {
  opacity: 1;
}

.img-animation {
  animation: fadeIn 3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}

.row-header {
  background-color: #19ad8e;
}

.from-right {
  animation: from-right 1.5s ease;
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 600px) {
  .img-edit {
    display: none;
  }
}
