.style-list {
  border-style: none;
  text-decoration: none;
  list-style: none;
}

.container-form {
  text-align: center;
  background-color: #99cf8d;
  background-image: url("../Imagenes/hojas.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.row-header {
  background-color: #19ad8e;
}
