.style-list {
  border-style: none;
  text-decoration: none;
  list-style: none;
}

.container-form {
  @include text-center;
  background-color: $primary-color;
  background-image: url("../Imagenes/hojas.png");
  @include background-repeat_and_size;
}

.row-header {
  background-color: $secondary-color;
}
